<!--Nav bar-->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="https://github.com/ajetnewera/ember-brunch-coffee">Ember Brunch Coffee</a>
    <ul class="nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>
</div>
<!-- End of Nav bar-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <div class="well">Side bar</div>
    </div>
    <div class="span10">
		<!--Body Content -->
		<div class=well>
		{{outlet}}
	</div>
    </div>
  </div>
</div>


